
body {
  background-color: #f5f5f5;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #de5602;
  color: #fff;
  padding: 15px;
  margin: 0 40px 0 40px;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

.header2 {
  background-color: rgb(255, 255, 255);
  padding: 5px 0 5px 20px;
  margin: 0 40px 0 40px;
  margin-bottom: 20px;
}

a h2 {
 color: #333;
}


header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav a {
  color: #525252;
  text-decoration: none;
  font-size: 14px;
}

header nav a:active {
  text-decoration: none;
}

article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

article h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  text-decoration: none;
}

article p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}

article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

footer {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
}

footer p {
  padding: 5px;
  margin: 0 40px 0 40px;
  font-size: 14px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.button-icon {
  width: 35px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
 }

 .blogPost {
  margin: 0 40px 0 40px;
 }

.logo {
  color: white;
}
